<footer class="site-footer">

    <div class="wrapper">

        <div class="row">
            <div class="col-lg-9">

            </div>
            <div class="col-lg-3">
                <h3 class="footer-heading"><span>Follow HZ</span></h3>
                <div class="social-links">
                    <div class="social-link">
                        <!--github-->
                        {% if site.github_username %}
                        {% include icon-github.html username=site.github_username %}
                        {% endif %}
                    </div>
                    <div class="social-link">
                        <!--twitter-->
                        {% if site.twitter_username %}
                        {% include icon-twitter.html username=site.twitter_username %}
                        {% endif %}
                    </div>
                </div>
                <p class="rss-subscribe text-center">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
            </div>
        </div>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>
                        {% if site.author %}
                        {{ site.author | escape }}
                        {% else %}
                        {{ site.title | escape }}
                        {% endif %}
                    </li>
                    {% if site.email %}
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col footer-col-2">
            </div>

            <div class="footer-col footer-col-3">
                <p>{{ site.description | escape }}</p>
            </div>
        </div>

    </div>
    <div class="divider"></div>
</footer>
