<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');

</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109643885-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-109643885-1');

    function sendToGoogleAnalytics({name, delta, value, id}) {
        // Assumes the global `gtag()` function exists, see:
        // https://developers.google.com/analytics/devguides/collection/ga4
        gtag('event', name, {
            // Built-in params:
            value: delta, // Use `delta` so the value can be summed.
            // Custom params:
            metric_id: id, // Needed to aggregate events.
            metric_value: value, // Optional.
            metric_delta: delta, // Optional.

            // OPTIONAL: any additional params or debug info here.
            // See: https://web.dev/debug-web-vitals-in-the-field/
            // metric_rating: 'good' | 'ni' | 'poor',
            // debug_info: '...',
            // ...
        });
    }

    (function () {
        var script = document.createElement('script');
        script.src = 'https://unpkg.com/web-vitals';
        script.onload = function () {
            // When loading `web-vitals` using a classic script, all the public
            // methods can be found on the `webVitals` global namespace.
            webVitals.getCLS(sendToGoogleAnalytics);
            webVitals.getFID(sendToGoogleAnalytics);
            webVitals.getLCP(sendToGoogleAnalytics);
        }
        document.head.appendChild(script);
    }())
</script>
