:root {
    --accent: #0074D9;
    --black: #000;
    --dark-gray: #66696b;
    --gray: #c7c7c7;
    --silver: #f6f7f7;
    --unit: 10px;
    --half: calc(var(--unit) * 0.5);
    --heading: 'Cormorant Infant', serif;
    --body-text: 'Roboto', sans-serif;
    --text: Georgia, "Times New Roman", times, serif;
    --body-text-size: calc(var(--unit) * 1.8);
    --subheading: 'Tenor Sans', sans-serif;
    --divider-heading: 'Six Caps', sans-serif;
    --category-heading: 'Open Sans', sans-serif;
    --category-heading-color: var(--accent);
    --category-heading-size: calc(var(--unit) * 1.2);
    --border-width: 1px;
    --border-color: var(--gray);
    --title-font-size: calc(var(--unit) * 3);
    --subtitle-font-size: calc(var(--unit) * 2);
    --row-margin: calc(var(--unit) * 3);
}

html {
    font-family: var(--body-text);
    font-size: var(--unit);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

main {
    flex: 1;
}

.wrapper {
    font-size: var(--unit);
    max-width: 1200px;
    margin: auto;
}

.row {
}

img {
    width: 100%;
    height: auto;
}

a {
    color: inherit;
}

a.site-title, .title a {
    text-decoration: none;
}

h1 {
    font-size: var(--title-font-size);
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

section {
    margin-bottom: calc(var(--row-margin) * 2);
}

p {
}

blockquote {
    font-style: italic;
    font-family: 'Tenor Sans', sans-serif;
}

.logo {
}

.columns-3 {
    column-count: 3;
    column-gap: calc(var(--unit) * 3);
    padding: var(--unit) 0;
}

.columns-3 article {
    break-inside: avoid;
    padding: calc(var(--unit) * 0.5);
}

/* BLOCKS */
.site-footer {
    background: var(--black);
    color: #ffffff;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-link {
    padding: calc(var(--unit) * 1);
}

.front-row {
    --row-margin: calc(var(--unit) * 7);
}

.latest {
    --title-font-size: calc(var(--unit) * 6);
    --category-heading: 'Diplomata SC', cursive;
    --category-heading-color: var(--black);
    --category-heading-size: calc(var(--unit) * 1.3);
}

.recent-post {
    --title-font-size: calc(var(--unit) * 2.5);
}

.trending-post, .featured-post {
    --heading: var(--subheading);
    padding-bottom: 25px;
}

.trending-post {
    --title-font-size: calc(var(--unit) * 2);
}

.featured, .curly-brackets {
    border: 0 solid var(--gray);
    border-bottom-width: 1px;
    border-top-width: 1px;
}

.featured-post {
    --title-font-size: calc(var(--unit) * 1.8);
}

.featured.category {
    margin-top: calc(var(--unit) * 6);
}

.top-categories-posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-category-post {
    padding: calc(var(--unit) * 1.8);
    margin-bottom: var(--row-margin);
}

.post-description {
    color: var(--dark-gray);
    font-size: calc(var(--unit) * 1.4);
    font-family: var(--text);
}

.post-content {
    width: calc(100% - 100px);
    margin: auto;
}

.post-content-body {
    font-family: var(--text);
    font-size: calc(var(--unit) * 1.8);
    line-height: 1.83;
    max-width: 65ch;
}

.post-content-body > p:first-child:first-letter {
    color: var(--accent);
    display: inline-block;
    float: left;
    font: 400 6em/.5em georgia;
    font-style: normal;
    letter-spacing: 0;
    margin: .069em 0;
    padding: .1em .04em 0 0;
}

.block-silver, .featured {
    background: var(--silver);
}

.middle-column {
    border: 0 solid var(--border-color);
    border-left-width: 1px;
    border-right-width: 1px;
}

.see-more {
    width: 50%;
    padding: calc(var(--unit) * 1.8);
}

.video-post {

}

.video-post .embed-container {
    cursor: pointer;
}

.video-post .embed-container:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
    opacity: 0;
}

.video-post .embed-container:hover:before {
    opacity: 1;
}

/* TYPOGRAPHY */
.title, .subtitle, .divider-accent, .logo {
    text-align: center;
}

.title, .post-title {
    font-family: var(--heading);
}

.title:hover {
    color: var(--accent);
}

.site-title {
    font-size: calc(var(--unit) * 8);
    font-family: var(--heading);
    color: var(--black);
}

.subtitle, .post-subtitle {
    font-family: var(--subheading);
    font-size: var(--subtitle-font-size);
}

.category-heading, .divider-heading, .featured-heading, .top-category-heading, .section-heading {
    text-transform: uppercase;
}

.divider-heading, .featured-heading, .top-category-heading, .section-heading, .footer-heading {
    font-family: var(--divider-heading);
    --title-font-size: calc(var(--unit) * 4);
}

.footer-heading {
    --title-font-size: calc(var(--unit) * 3);
    letter-spacing: 5px;
    font-weight: 100;
}

.category-heading, .read-more {
    --title-font-size: var(--category-heading-size);
    font-weight: lighter;
    font-family: var(--category-heading);
    color: var(--category-heading-color);
}

.see-more-link {
    font-family: var(--category-heading);
    font-size: calc(var(--unit) * 1.6);
}

.featured-heading {
    display: flex;
    justify-content: center;
    margin: 0;
    transform: translateY(-50%);
}

.featured-heading {
    letter-spacing: 5px;
}

.top-category-heading {
    width: 100%;
    margin-bottom: calc(var(--row-margin) * 2);
}

.brackets, .top-category-heading {
    letter-spacing: 1px;
}

.post-date {
    color: var(--gray);
    --body-text-size: calc(var(--unit) * 1.2);
}

.text-accent, .top-category-heading, .see-more-link {
    color: var(--accent);
}

.text-upper, .see-more-link, .footer-heading, .read-more {
    text-transform: uppercase;
}

.text-center, .top-category-excerpt, .see-more, .read-more, .post-meta {
    text-align: center;
}

/*--------------*
* DIVIDERS
*---------------*/
.divider, .divider-bold, .divider-light {
    width: calc(100% - 100px);
    margin: auto;
}

.divider, .divider-bold, .divider-extraBold, .see-more, .divider-light {
    margin-bottom: 5px;
    border: 0 solid;
    border-bottom-width: var(--border-width);
}

.divider-light {
    border-color: var(--gray);
}

.divider-bold, .section-heading:before {
    --border-width: 2px;
}

.divider-extraBold, .see-more {
    --border-width: 4px;
}

.see-more {
    border-top-width: 2px;
}

.divider-accent {
    color: var(--accent);
}

.brackets:before, .brackets:after, .divider-accent:before, .divider-accent:after, .comment-divider:before, .comment-divider:after, .arrow:before, .arrow:after, .top-category-heading:before, .top-category-heading:after, .section-heading:before {
    border: 0 solid;
    content: '';
    position: absolute;
}

.divider-accent:before, .divider-accent:after, .top-category-heading:before, .top-category-heading:after {
    border-bottom-width: var(--border-width);
    border-top-width: var(--border-width);
    height: 2px;
}

.top-category-heading:before, .top-category-heading:after, .section-heading:before {
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.top-category-heading:before, .top-category-heading:after {
    width: calc(50% + .5rem);
}

.top-category-heading:before {
    left: -0.5rem;
}

.top-category-heading:after {
    right: -0.5rem;
}

.divider-accent:before, .section-heading:before {
    left: 0;
}

.divider-accent:after {
    right: 0;
}

.comment-divider, .brackets, .top-category-heading, .arrow, .section-heading, .section-title {
    position: relative;
}

.comment-divider:before, .comment-divider:after {
    width: 25%;
    /*border-style: dashed;*/
    /*border-bottom-width: var(--border-width);*/
}

.comment-divider:before {
    content: '**/';
    left: 50%;
}

.comment-divider:after {
    content: '/**';
    right: 50%;
    text-align: right;
}

.brackets:before, .brackets:after {
    top: 50%;
    width: calc(var(--unit));
    height: calc(var(--unit));
    --border-width: 2px;
    border-top-width: var(--border-width);
    border-left-width: var(--border-width);
}

.brackets:before {
    left: 0;
    transform: translate(-150%, -50%) rotate(-45deg);
}

.brackets:after {
    right: 0;
    transform: translate(150%, -50%) rotate(135deg);
}

.curly-brackets, .arrow, .section-title {
    background: #ffffff;
    padding: 10px 20px;
}

.curly-brackets {
    display: flex;
    width: 15%;
    justify-content: space-around;
}

.curly-brackets:before, .curly-brackets:after {
    font-weight: 100;
}

.curly-brackets:before {
    content: '{ ';
}

.curly-brackets:after {
    content: ' }';
}

.arrow, .section-title {
    z-index: 1;
}

.arrow:after {
    content: '⥥';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.section-heading:before {
    width: 100%;
    border-bottom-width: var(--border-width);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: calc(var(--unit) * 10);
}