@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Oxygen+Mono');

:root {
    --unit: 10px;
    --hand-color: #0d82ff;
    --highlight: lemonchiffon;
}

html {
    font-family: Georgia, Serif;
    /*font-size: var(--unit);*/
}

h1, h2, h3, h4, h5 {
    font-family: 'Oxygen Mono', monospace;
}

article {
    font-size: 1.2rem;
}

p {
    line-height: 1.2;
}

.hand {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.4rem;
    color: var(--hand-color);
    fill: var(--hand-color);
}

.blue {
    color: var(--hand-color);
    fill: var(--hand-color);
}

pre {
    line-height: 1;
}

.center {
    text-align: center;
}

.complement {
    position: relative;
}

.complement:before {
    content: "";
    border-top: 1px solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sesquialteral {
    line-height: 1.5;
}

.double {
    line-height: 2;
}

.lower-alpha {
    list-style-type: lower-alpha;
}

.flex {
    display: flex;
}

.highlight {
    background: var(--highlight);
    padding: 5px;
}