---
layout: default
---
<section class="featured category">
    <h1 class="featured-heading">
        <span class="curly-brackets">{{ page.title | escape }}</span>
    </h1>
    <div class="columns-3">

        {% for post in site.categories.[page.tag] limit:4%}
        <article class="featured-post">
            <h1 class="title">
                <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape}}
                </a>
            </h1>
            <div>
                <img src="{{post.image}}" alt="{{post.description}}">
                {{post.description}}
            </div>
            <div class="read-more">
                <a href="{{ post.url | relative_url }}">
                    read more
                </a>
            </div>
        </article>
        {% endfor %}
    </div>
</section>
<section>
    <article class="category-description">
        {{page.content}}
    </article>
</section>
