---
layout: default
---

<div class="home">
    {% assign latest = site.posts | first %}
    <section class="front-row">
        <div class="row">
            <div class="col-xs-12 col-lg-3">
                <nav class="recent">
                    {% for post in site.posts limit:2 offset:1%}
                    <div class="recent-post">
                        <h1 class="title">
                            <a href="{{ post.url | relative_url }}">
                                {{ post.title }}
                            </a>
                        </h1>
                        <div>
                            <p>
                                {{ post.description}}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </nav>
            </div>
            <div class="col-xs-12 col-lg-6">
                <section class="latest">
                    <h3 class="category-heading">{{latest.categories | first}}</h3>
                    <h1 class="title">
                        <a href="{{ latest.url | relative_url }}">
                            {{ latest.title | escape}}
                        </a>
                    </h1>
                    <p class="subtitle">
                        <a href="{{ latest.url | relative_url }}">
                            {{ latest.description}}
                        </a>
                    </p>
                </section>
            </div>
            <div class="col-xs-12 col-lg-3 block-silver">
                <nav class="trending">
                    <h1 class="divider-heading"><span class="brackets">Trending</span></h1>
                    {% for post in site.categories.trending limit:4%}
                    <div class="trending-post">
                        <h3 class="category-heading">{{post.categories | first}}</h3>
                        <h1 class="title">
                            <a href="{{ post.url | relative_url }}">
                                {{ post.title | escape}}
                            </a>
                        </h1>
                        <div class="comment-divider"></div>
                    </div>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </section>
    <section class="featured">
        <h1 class="featured-heading">
            <span class="curly-brackets">Featured</span>
        </h1>
        <div class="row">
            {% for post in site.categories.featured limit:4%}
            <div class="col-lg-3">
                <div class="featured-post">
                    <h3 class="category-heading">{{post.categories | first}}</h3>
                    <h1 class="title">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title | escape}}
                        </a>
                    </h1>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="top-categories">
        <div class="row">
            <div class="col-lg-4 col-sm-4 top-categories-posts">
                <h1 class="top-category-heading">
                    <span class="arrow">
                        how-to
                    </span>
                </h1>
                {% for post in site.categories.how-to limit:4%}
                <div class="top-category-post">
                    <h3 class="category-heading">{{post.tags | first}}</h3>
                    <h1 class="title">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title | escape}}
                        </a>
                    </h1>
                    <div class="top-category-excerpt">
                        <p class="post-date">
                            <time>
                                {{post.date | date_to_long_string}}
                            </time>
                        </p>
                    </div>
                </div>
                {% endfor %}
                <div class="see-more">
                    <a href="/how-to" class="see-more-link">
                        see all how-to
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 top-categories-posts middle-column">
                <h1 class="top-category-heading"><span class="arrow">react</span></h1>
                {% for post in site.categories.react limit:4%}
                <div class="top-category-post">
                    <h3 class="category-heading">{{post.tags | first}}</h3>
                    <h1 class="title">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title | escape}}
                        </a>
                    </h1>
                    <div class="top-category-excerpt">
                        <p class="post-date">
                            <time>
                                {{post.date | date_to_long_string}}
                            </time>
                        </p>
                    </div>
                </div>
                {% endfor %}
                <div class="see-more">
                    <a href="/react" class="see-more-link">
                        see all react
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 top-categories-posts">
                <h1 class="top-category-heading"><span class="arrow">live</span></h1>
                {% for post in site.categories.staff limit:4%}
                <div class="top-category-post">
                    <h3 class="category-heading">{{post.tags | first}}</h3>
                    <h1 class="title">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title | escape}}
                        </a>
                    </h1>
                    <div class="top-category-excerpt">
                        <p class="post-date">
                            <time>
                                {{post.date | date_to_long_string}}
                            </time>
                        </p>
                    </div>
                </div>
                {% endfor %}
                <div class="see-more">
                    <a href="/staff" class="see-more-link">
                        see all live
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="videos-row">
        <h1 class="section-heading">
            <span class="section-title">
                Videos
            </span>
        </h1>
        <div class="row">
            {% assign videos = 0 %}
            {% for post in site.posts %}
            <!--videos < 3-->
            {% if post.video and videos < 3 %}
            <!--0-->
            {% if videos == 0 %}
            <div class="col-lg-9 last-xs">
                {% include video-post.html %}
            </div>
            {% endif %}
            <!--1-->
            {% if videos == 1 %}
            {% assign video1 = post %}
            <div class="col-lg-3">
                {% include video-post.html %}
            </div>
            {% endif %}
            <!--2-->
            {% if videos == 2 %}
            {% assign video2 = post %}
            {% endif %}
            {% assign videos = videos | plus: 1 %}
            <!--end-->
            {% endif %}
            {% endfor %}
        </div>
    </section>

</div>
