---
layout: default
---

<div class="home">
    {% assign latest = site.posts | first %}
    <section>
        <div class="row">
            <div class="col-xs-12 col-lg-9">
                <section class="latest">
                    <h3 class="category-heading">{{latest.categories | first}}</h3>
                    <h1 class="title">
                        <a href="{{ latest.url | relative_url }}">
                            {{ latest.title | escape}}
                        </a>
                    </h1>
                    <p class="subtitle">
                        <a href="{{ latest.url | relative_url }}">
                            {{ latest.description}}
                        </a>
                    </p>
                </section>
            </div>
            <div class="col-xs-12 col-lg-3 block-silver">
                <nav class="recent">
                    {% for post in site.posts limit:3 offset:1%}
                    <div class="recent-post">
                        <h1 class="title">
                            <a href="{{ post.url | relative_url }}">
                                {{ post.title }}
                            </a>
                        </h1>
                        <div class="post-description">
                            <p>
                                {{ post.description}}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </section>
    <section class="top-categories">
        <div class="row">
            <div class="col-lg-4 col-sm-4 top-categories-posts">
                <h1 class="top-category-heading">
                    <span class="arrow">
                        ios
                    </span>
                </h1>
                {% for post in site.categories.ios limit:4%}
                <div class="top-category-post">
                    <h3 class="category-heading">{{post.tags | first}}</h3>
                    <h1 class="title">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title | escape}}
                        </a>
                    </h1>
                    <div class="top-category-excerpt">
                        <p class="post-date">
                            <time>
                                {{post.date | date_to_long_string}}
                            </time>
                        </p>
                    </div>
                </div>
                {% endfor %}
                <div class="see-more">
                    <a href="/ios" class="see-more-link">
                        все в категории ios
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 top-categories-posts middle-column">
                <h1 class="top-category-heading"><span class="arrow">js</span></h1>
                {% for post in site.categories.js limit:4%}
                <div class="top-category-post">
                    <h3 class="category-heading">{{post.tags | first}}</h3>
                    <h1 class="title">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title | escape}}
                        </a>
                    </h1>
                    <div class="top-category-excerpt">
                        <p class="post-date">
                            <time>
                                {{post.date | date_to_long_string}}
                            </time>
                        </p>
                    </div>
                </div>
                {% endfor %}
                <div class="see-more">
                    <a href="/js" class="see-more-link">
                        все в категории js
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 top-categories-posts">
                <h1 class="top-category-heading"><span class="arrow">life</span></h1>
                {% for post in site.categories.life limit:4%}
                <div class="top-category-post">
                    <h3 class="category-heading">{{post.tags | first}}</h3>
                    <h1 class="title">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title | escape}}
                        </a>
                    </h1>
                    <div class="top-category-excerpt">
                        <p class="post-date">
                            <time>
                                {{post.date | date_to_long_string}}
                            </time>
                        </p>
                    </div>
                </div>
                {% endfor %}
                <div class="see-more">
                    <a href="/staff" class="see-more-link">
                        все в категории life
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
