---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h3 class="category-heading">{{ page.categories | array_to_sentence_string }}</h3>
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        {% if page.subtitle %}
        <h3 class="post-subtitle">{{ page.subtitle | escape }}</h3>
        {% endif %}
        <div class="divider-light"></div>
        <p class="post-meta">
            <span class="post-date">
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    {{ page.date | date: date_format }}
                </time>
            </span>
            {% if page.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {% endif %}
        </p>
    </header>
    {% if page.video %}
    <div class="embed-container">
        <iframe src="{{page.video}}" frameborder="0" allowfullscreen></iframe>
    </div>
    {% endif %}
    <div class="post-content" itemprop="articleBody">
        <div class="post-content-body">
            {{ content }}
        </div>
    </div>

    {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
    {% endif %}
</article>
