---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="post-header">
        <h3 class="category-heading">{{ page.categories | array_to_sentence_string }}</h3>
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        {% if page.subtitle %}
        <h3 class="post-subtitle">{{ page.subtitle | escape }}</h3>
        {% endif %}
        <div class="divider-light"></div>
        <p class="post-meta">
            <span class="post-date">
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {% assign date_format = site.minima.date_format | default: "%-b %-d, %Y" %}
                    {{ page.date | date: date_format }}
                </time>
            </span>
            {% if page.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {% endif %}
        </p>
    </div>


    {% if page.video %}
        <div class="embed-container">
            <iframe src="{{page.video}}" frameborder="0" allowfullscreen></iframe>
        </div>
    {% endif %}
    <div class="post-content" itemprop="articleBody">
        <div class="post-content-body">
            {{ content }}
        </div>
    </div>
    <!-- Your share button code -->
    <div class="fb-share-button"
         data-href="{{ page.url | replace:'index.html','' | absolute_url }}"
         data-layout="button_count">
    </div>
    
    {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
    {% endif %}
    <div id="disqus_thread"></div>
</article>

{% if page.comments %}
<script>

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

    var disqus_config = function () {
    this.page.url = "{{site.url}}{{page.url}}";  // Replace PAGE_URL with your page's canonical URL variable
//    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://https-zhukovka-github-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
{% endif %}